


*{
    color: white;
}#Navbar{
    background-color: black;
    height: 60px;

}
#logo{
    font-size: 25px;
    color: rgb(255, 106, 0);
}
button{
    background-color: rgb(255, 106, 0);
}
a{
    margin-right: 200px;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display:inline-block;
}
footer{
    background-color: black;
    height: 60px;
    text-align: center;
    padding-top: 25px;
}