div{
    height: 100px;
    width: 100px;
    background-image: url(nature.jpg);
    color: aliceblue;
    padding-left: 15px;
    padding-top: 10PX;
    position: fixed;
    left: 1400px;

}